:root {
    --main: #121619;
    --secondary: #30373E;
    --highlight: #05C89F;
    --text: #F7F7F2;
  }

body{
    margin:0;
    padding:0;
    background-color: var(--main);
    font-family: 'Montserrat';
}
/* nav{
    width:100vw;
} */

nav ul {
    font-size: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--main);
    margin-right:180px;
    margin-top:24px;
    float: right;
  }
  
 nav  li {
    float: left;
  }
  
 nav  li a {
    display: block;
    color: var(--highlight);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
 nav li a:hover {
    background-color:var(--highlight);
    color:var(--main);
    border-radius:25px;
  }
  
  main{
    max-width:1536px;
    margin-left:auto;
    margin-right:auto;
    padding:100px;
  }

    .project{

        height: 357px;

        /* background-color:purple; */
        margin-top:20px;
    }

    .project img{
        width:360px;
        height:357px;
        float:left;
        object-fit: cover;
        border-radius: 10px;
    }

    .projectContent{
        max-width:40%;
        float:left;
        margin-left:60px;
    }

    .projectContent h2{
        font-size:38px;
        color:var(--highlight);
    }

    .projectContent p{
        font-size:18px;
        min-height: 160px;
        color:var(--text);
    }

    .projectButton{
        width:183px;
        height: 40px;
        font-size:24px;
        color:var(--main);
        background-color: var(--highlight);
        border-radius: 5px;
        border:none;
    }